/* Font family will be set dynamically by theme via GlobalStyles */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

/* Markdown Editor Custom Font Size Override */
.w-md-editor .w-md-editor-text {
  font-size: 16px !important;
  line-height: 1.6 !important;
}

.w-md-editor .w-md-editor-text-pre {
  font-size: 16px !important;
  line-height: 1.6 !important;
}

.w-md-editor .wmde-markdown {
  font-size: 16px !important;
}

.w-md-editor .wmde-markdown p {
  font-size: 16px !important;
}

/* Markdown Renderer (standalone) */
.wmde-markdown {
  font-size: 16px !important;
}

.wmde-markdown p {
  font-size: 16px !important;
}

/* Tarayıcı autocomplete stilleri - Global fallback (GlobalStyles'da tema bazlı stiller var) */
/* Bu stiller GlobalStyles yüklenmeden önce veya tema değiştiğinde geçerli olur */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
